<div class="container d-flex p-3 justify-content-evenly">
  <div class="card p-3 text-center" style="width: 36rem;">
    <h1>SCORE PAGE</h1>
    <p>You guessed <em><%= params['word'] %></em></p>
    <h3>SCORE</h3>
    <p><%= @letters %></p>
    <p><%= @score %></p>
    <p>you answered in <%= @time_taken %> seconds</p>
    <p><em><%= @message %></em></p>
  </div>
</div>
